@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --bgOrange:#e84949;
}
.containerme{
    width: 1200px;
    margin: auto;
    height: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.contactus-form-container{
    width: 100%;
   background: rgb(231, 231, 231);
   padding-bottom: 5rem;
    
}
.contactus-heading{
    font-size:  4rem;
    color: var(--bgOrange);
    display: flex;
    
}
.contactus-subHeading{
    font-size: 3rem;
    color: gray;
}
.contactus-form-contant{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formfield-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;

}
.formfield{
    width: 70%;
    font-size: 16px;
    padding: 0 2rem;
    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.623);
    font-weight: 500;
    margin: 10px;
}
.formfield-textarea{
    height: auto;
    padding-top: 1rem;
}
/* button portion  start*/
.snd-butn{
    padding-top: 1rem;
    margin-left: 9.3rem;
}

.buttoncm{
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    text-decoration: none;
    /* border-color: white; */
    /* border-radius: 5px ; */
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.412);

    background: rgba(214, 7, 7, 0.636);
    /* box-shadow: 5px 5px 5px 5px; */
    position: relative;
    z-index: 1;
}
.buttoncm::before{
    content: "";
    background-color:rgb(255, 255, 255) ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-color: transparent;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition:all 1s;
    z-index: -1;
}
.buttoncm:hover::before{
    transform: scaleX(1);
}
.submit-icon{
    padding-left: .5rem;
}
/* end  btn part*/


/* footer section css  */
footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}
.footer-wrapper{
    display: flex;
    padding-top: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}
.footer-faded-text{
    position:absolute;
    font-size: 5rem;
    user-select: none;
    color: rgba(231, 231, 231, 0.138);
    bottom: 0;
    left: 0;
    font-weight: bold;
    transition: all 3s;
}
.link-wrapper{
  display: flex;
  gap: 1.2rem;
}
.link-wrapper div a{
    color: white;
}
.link-wrapper div a:hover{
    color: var(--bgOrange);
    transition: all 1s;
}
.icon-wrapper{
  display: flex;
  gap: 1rem;
}
.iconf{
    cursor: pointer;
    color: white;
    font-size: 30px;
    transition: all 1s;
}
.iconf:hover{
    color: var(--bgOrange);
    transition: all 1s;
    transform: translateY(-1rem);
}
/* footer end  */
@media(max-width:768px) {
    .containerme{
        width: 450px;
        margin: auto;
        height: auto;
    }
    .contactus-form-container{
       width: 100%;
       background: rgb(231, 231, 231);
       padding-bottom: 5rem;
        
    }
    .contactus-heading{
        font-size:  1rem;
        color: var(--bgOrange);
        display: flex;
        margin-top: 3rem;
        
    }
    .contactus-subHeading{
        font-size: 0.8rem;
        color: gray;
    }
    .contactus-form-contant{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        padding: 0 2rem 2rem 0;
    }
    .form{
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 0 2rem 2rem 0;
    }
    .formfield-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;
        width: 100%;
    
    }
    .formfield{
        width: 70% auto;
        font-size: 10px;
        padding: 0 2rem;
        height: 40px;
        border-radius: 5px;
        border: none;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.623);
        font-weight: 500;
        margin: 10px;
    }
    .formfield-textarea{
        height: auto;
        padding-top: 1rem;
    }
    /* footer section css  */
    footer{
        position: relative;
        margin-top: -1px;
        background-color: #343d68;
        padding: 3rem;
    }
    .containerf{
        width: 300px;
        height: auto;
    }
    .footer-wrapper{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 1rem;
        padding: 1.2rem;
        align-items: center;
    }
    .link-wrapper{
        display: flex;
        margin: 0 auto;
        padding-bottom: 1rem;
        gap: 1rem;
        font-size: 0.8rem;
      }
      .link-wrapper div a{
          color: white;
      }
      .link-wrapper div a:hover{
          color: var(--bgOrange);
          transition: all 1s;
      }
      .icon-wrapper{
        display: flex;
        gap: 1rem;
      }
      .iconf{
          cursor: pointer;
          color: white;
          font-size: 20px;
          transition: all 1s;
      }
      .iconf:hover{
          color: var(--bgOrange);
          transition: all 1s;
          transform: translateY(-1rem);
      }
    .footer-faded-text{
        position:absolute;
        font-size: 2rem;
        user-select: none;
        color: rgba(231, 231, 231, 0.138);
        bottom: 0;
        left: 0;
        font-weight: bold;
        transition: all 3s;
    }
}
