@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
  font-family: "Be Vietnam Pro", sans-serif;

}
:root{
    --bgOrange:#e84949;
}
.project-section{
    background-color: rgb(231, 231, 231);
    margin-top: 4rem;
}
.project-header{
    color: var(--bgOrange);
    font-size: 90px;
    text-align: center;
    padding-top: 1rem;
}
.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
.project-card{
    width: 90%;
    height: 550px;
    background-image: url(image/projects/Project1.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}
.project-card::after{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #1f1f1f9a;
   /* transform: scaleX(1); */
}
.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: 1;
}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-number{
    position: absolute;
    font-size: 10rem;
    font-weight: 600;
    color: white;
    z-index: 10;
    display: none;
    
}
.project-card:hover .project-number{
    display: block;
}
.project-number-right{
    right: -40px;
    top: -45px;
}
.project-number-left{
    left: -40px;
    top: -45px;
}
.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2rem;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 1s;
}
.project-content-left{
    left: 10%;
}
.project-content-right{
    right: 10%;
}
.project-skills-container{
  width: 60%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.project-skill{
    width: 40px;
}
.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}
.project-subHeading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}
.btn-group{
    display: flex;
    gap: 10px;
    align-items: center;
}
.icon{
    cursor: pointer;
    color: white;
    font-size: 30px;
    transition: all 1s;
}
.icon:hover{
    color: var(--bgOrange);
}
#project2{
    margin-left: 120px;
    background-image: url(image/projects/Project2.png);
}
#project3{
    background-image: url(image/projects/Project3.png);
}
#project4{
    margin-left: 120px;
    background-image: url(image/projects/Project4.png);
}
.project-card:hover .project-content{
    transform: scale(1.1);
}

@media (max-width: 768px){
    .project-section{
        background-color: rgb(231, 231, 231);
        margin-top: 2rem;
    }
    .project-header{
        color: var(--bgOrange);
        font-size: 20px;
        text-align: center;
        padding-top: 1rem;
    }
    .project-container{
        max-width: 400px;
        margin: 0 auto;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .project-card{
        width: 80%;
        height: 200px;
        background-image: url(image/projects/Project1.png);
        background-size: cover;
        /* background-repeat: no-repeat; */
        position: relative;
        box-shadow: 0px 0px 40px #1f1f1f;
    }
    .project-card::after{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: #1f1f1f9a;
       /* transform: scaleX(1); */
    }
    .project-card::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
        transform: scaleX(0);
        transform-origin: left;
        transition: all 1s;
        z-index: 1;
    }
    .project-card:hover::before{
        transform: scaleX(1);
    }
    .project-number{
        position: absolute;
        font-size: 1rem;
        font-weight: 300;
        color: white;
        z-index: 10;
        display: none;
        
    }
    .project-card:hover .project-number{
        display: block;
    }
    .project-number-right{
        right: -10px;
        top: -25px;
    }
    .project-number-left{
        left: -10px;
        top: -25px;
    }
    .project-content{
        position: absolute;
        display: flex;
        flex-direction: column;
        color: white;
        padding: 1rem;
        bottom: 20%;
        z-index: 5;
        gap: 0.1em;
        transition: all 1s;
    }
    .project-content-left{
        left: 10%;
    }
    .project-content-right{
        right: -10%;
    }
    .project-skills-container{
      width: 40%;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
    .project-skill{
        width: 10px;
    }
    .project-heading{
        font-size: 7px;
        font-weight: bold;
        line-height: 1rem;
    }
    .project-subHeading{
        width: 50%;
        font-size: 6px;
        font-style: italic;
    }
    .btn-group{
        display: flex;
        gap: 5px;
        align-items: center;
    }
    .button13{
        width: 3rem;
        height: 2rem;
        font-size: 0.5rem;
        font-weight: 100;
        outline: none;
        border-color: transparent;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background: rgba(214, 7, 7, 0.636);
        position: relative;
        z-index: 1;
    }
    .button13::before{
        content: "";
        background-color:rgb(255, 255, 255) ;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-color: transparent;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition:all 1s;
        z-index: -1;
    }
    .button13:hover::before{
        transform: scaleX(1);
    }
    .icon{
        cursor: pointer;
        color: white;
        font-size: 12px;
        transition: all 1s;
    }
    .icon:hover{
        color: var(--bgOrange);
    }
    #project1{
        margin-left: 20px;
    }
    #project2{
        margin-left: 60px;
        background-image: url(image/projects/Project2.png);
    }
    #project3{
        margin-left: 20px;
        background-image: url(image/projects/Project3.png);
    }
    #project4{
        margin-left: 60px;
        background-image: url(image/projects/Project4.png);
    }
    .project-card:hover .project-content{
        transform: scale(1.1);
    }
    
}