.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}
.skills-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.skills-container-right{
    display: flex;
    flex-wrap:wrap ;
    width: 50%;
    position: relative;
    gap: 2rem;
    justify-content: center;
}
.skill-fade-text{
    position: absolute;
    font-size: 15em;
    font-style: bold;
    color: white;
    bottom: -34%;
    right: -25%;
    user-select: none;
}
.blob-style{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: blobAnimation 3s liner infinite;
    z-index: -6;
}@keyframes blobAnimation {
    50%{
        top: 50%;
        left: 50%;
    }
}
.skills-logo{
    width: 50px;
    transition: all .7s;
}
.skills-logo:hover{
   transform: scale(2);
}

.skill-heading{
    font-size: 50px;
    font-style: bold;
    color: orange;
    line-height: 50px;
}
.caps{
    font-size: 90px;
}
.skills-subHeading{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}

.skills-subHeading p{
    margin: 1rem;
}







